.container-fluid {
  background-color: #01A6E6;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: -100;
}
.fixed-bg-image {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 0;
}
.logo-ktb > img {
  width: 278px;
  height: 108px;
}
.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-bottom: 140px;
}
.version {
  width: 100vw;
  position: fixed;
  bottom: 32px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: #fff;
}

.flex-from-loading {
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}

.loading-space {
  margin-left: 10px;
}
.hidden {
  display: none;
}