.MuiList-root  {
  z-index: 3000;
  padding: 0px !important;
  border-radius: 8px;
}

#menu-scoll-bor-custom::-webkit-scrollbar {
  width: 6px;
}

/* Track */
#menu-scoll-bor-custom::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
#menu-scoll-bor-custom::-webkit-scrollbar-thumb {
  background: #f3f3f3; 
  border-radius: 2px;
}

/* Handle on hover */
#menu-scoll-bor-custom::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8e8; 
}