#BoxShowSecretKey-scorll::-webkit-scrollbar {
  /* width: 2px; */
  height: 2px;
}

/* Track */
#BoxShowSecretKey-scorll::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
#BoxShowSecretKey-scorll::-webkit-scrollbar-thumb {
  background: #a8a8a8e8; 
  /* border-radius: 2px; */
}

/* Handle on hover */
#BoxShowSecretKey-scorll::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8e8; 
}