#table-containner-custom-scroll-log::-webkit-scrollbar {
  width: 6px;
}

/* Track */
#table-containner-custom-scroll-log::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
#table-containner-custom-scroll-log::-webkit-scrollbar-thumb {
  background: #f3f3f3; 
  border-radius: 2px;
}

/* Handle on hover */
#table-containner-custom-scroll-log::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8e8; 
}