#custome-scroll-bar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#custome-scroll-bar::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
#custome-scroll-bar::-webkit-scrollbar-thumb {
  background: #a8a8a8e8; 
  border-radius: 6px;
}

/* Handle on hover */
#custome-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8e8; 
}