
@font-face {
  font-family: 'Krungthai-Fast-Web';
  src: url(./asset/fonts/Krungthai-Fast-Web.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Krungthai-Fast-Web';
  src: url(./asset/fonts/Krungthai-Fast-Web.ttf) format('truetype');
  font-weight: 300;
}
* {
  margin: 0;
  font-family: 'Krungthai-Fast-Web' !important;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
html {
  scroll-behavior: smooth;
}